
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header {
  width: 100%;
  min-height: 100px;
  color: white;
}
/* Login */
.container-login {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  animation-name: show;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  height: 90vh;
}
.bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
  background-repeat: repeat;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container-login a {
  color: white;
  text-decoration: none;
}
.container-login .header-main {
  margin-top: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 10rem;
  text-transform: uppercase;
  background: repeating-linear-gradient(
    #8a2be2,
    #8a2be2 2px,
    transparent 2px,
    transparent 4px
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container-login .header-second {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.3rem;
  font: weight 500px;
  margin-bottom: 30px;
  color: white;
}
.container-login svg {
  width: 64px;
  height: 64px;
  fill: #fff;
  transition: all ease 1.5s;
}
.container-login svg:hover {
  fill: black;
  transition: all ease 1.5s;
}
.multi_bg_example {
  background-size: 100%;
}

.container-login input {
  color: black;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(19, 7, 7, 0.026);
  border-radius: 5px;
  height: 20px;
  font-size: 1rem;
}
.container-login input:hover {
  background-color: white;
  border-radius: 5px;
  height: 15px;
}

.container-login button {
  margin: 20px;
  width: 150px;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  font-size: 20px;
}
.container-login button:hover {
  margin: 30px;
  background-color: rgba(0, 0, 0, 0.306);
  transition: all ease 1.5s;
}
.container-login h2 {
  color: white;
  margin: 20px;
}
.container-login h2:hover {
  color: #8a2be2;
}

/* Home page */

.container-home {
  min-height: 80vh;
  display: flex;
}
@media (max-width: 1600px) {
  .container-home {
    flex-direction: column;
  }
}
.h1{
  background-color: #303030;
}
.h1 h1{
  margin-top: 0 auto;
  font-family: 'Times New Roman', Times, serif;
  font-size: 10rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: repeating-linear-gradient(
    #8a2be2,
    #8a2be2 2px,
    transparent 2px,
    transparent 4px
  );
}
.home {
  min-height: 90vh;
  background: linear-gradient(
    0deg,
    rgba(159, 160, 173, 1) 31%,
    rgba(29, 28, 28, 1) 95%,
    rgba(135, 132, 168, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home h2 {
  color: aliceblue;
  margin: 10px;
  text-align: center;
}
.home hr {
  color: red;
}
.home h3 {
  color: aliceblue;
  margin: 10px;
  text-align: center;
}
.add-item label {
  margin: 4rem;
}
.add-btn {
  margin-top: 40px;
  padding: 10px;
  width: 150px;
  position: relative;
  padding: 1em;
  outline: none;
  border: 1px solid #303030;
  background: red;
  color:white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  border-radius: 20px;
  border: solid;
  border-color: red;
  cursor: pointer;
  font-weight: bold;
}

.add-btn:hover {
  background-color:black;
  color: white;
}

.add-btn span {
  position: absolute;
}

.add-f {
  margin: 0;
  padding: 0;
  height: 40px;
}
.image-upload{
  display: flex;
  height: 2rem;
}

.departments {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-content: center;
}

.department {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 5px;
  width: 200px;
  height: 320px;
  border: solid 1px gray;
  text-decoration: none;
  color: #111;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.562);
  transition: 0.3s;
  background-color: white;
}

.department:hover {
  background-color: rgba(17, 17, 17, 0.651);
}

ul {
  display: flex;
  flex-direction: row;
  height: 100px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  background-color: black;
}

@media (max-width: 1600px) {
  ul {
    width: 100%;
    font-size: 18px;
    align-items: center;
  }
  .h1 h1{
    font-size: 5rem;
  }
}
li a {
  border: solid white;
  border-radius: 20px;
  display: block;
  color: white;
  width: 80px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: rgb(51, 51, 193);
  margin: 10px 20px;
}
@media (max-width: 1600px) {
  li a {
    border-radius: 18px;
    display: block;
    color: white;
    width: 80px;
    text-align: center;
    padding: 7px 5px;
    text-decoration: none;
    background-color: rgba(51, 51, 193, 0.527);
    margin: 10px 10px;
  }
}


li a:hover {
  background-color: #111;
}
.btn-logout{
  border: solid white;
  border-radius: 20px;
  display: block;
  color: white;
  width: 90px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: red;
  margin: 10px 20px;
}
@media (max-width: 1600px) {
.btn-logout {
    border-radius: 18px;
    display: block;
    color: white;
    width: 80px;
    text-align: center;
    padding: 7px 5px;
    text-decoration: none;
    background-color: red;
    margin: 10px 10px;
  }
}


li a:hover {
  background-color: #111;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: 100vh;
  background: rgb(159, 160, 173);
  background: linear-gradient(
    0deg,
    rgba(159, 160, 173, 1) 9%,
    rgba(29, 28, 28, 1) 100%,
    rgba(135, 132, 168, 1) 100%
  );
}
.container-admin {
  margin-top: 0px;
  min-width: 1200px;
  min-height: 80vh;
  background: rgb(159, 160, 173);
  background: linear-gradient(
    0deg,
    rgba(159, 160, 173, 1) 31%,
    rgba(29, 28, 28, 1) 95%,
    rgba(135, 132, 168, 1) 100%
  );
}
.container-all {
  text-align: center;
  min-height: 120vh;
  background: rgb(159, 160, 173);
  background: linear-gradient(
    0deg,
    rgba(159, 160, 173, 1) 31%,
    rgba(29, 28, 28, 1) 95%,
    rgba(135, 132, 168, 1) 100%
  );
}
.container-all h1 {
  margin-top: 0 auto;
  font-family: 'Times New Roman', Times, serif;
  font-size: 6rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  background: repeating-linear-gradient(
    #8a2be2,
    #8a2be2 2px,
    transparent 2px,
    transparent 4px
  );
  font-family: 'Times New Roman', Times, serif;
}
@media (max-width: 1600px) {
  .container-all h1{
    font-size: 3rem;
  }}
.container-all hr {
  border: solid 1px;
  border-color: red;
}
.container-all input {
  width: 300px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border: solid 2px grey;
  border-radius: 10px;
  font-size: 25px;
  margin: 40px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 4rem 0;
}

.products-item {
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 5px;
  width: 350px;
  height: 500px;
  border: solid 2px gray;
  border-radius: 50px;
  text-decoration: none;
  color: #111;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: white;
}

.products-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.904);
}
.products-item p {
  text-align: left;
}
.products-item > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 50px;
}

footer {
  height: 100px;
  margin: 10px;
  width: 100%;
  text-align: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.form-btn {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.736);
  width: 400px;
  height: 35px;
  font-size: 20px;
  margin: 20px;
  background-color: #051ec0;
  color: white;
}
.form-btn:hover {
  background-color: red;
}
.single-item {
  padding: 2rem;
  margin: 2rem 0;
  font-size: 20px;
  border-radius: 5px;
  border: solid 1px gray;
  text-decoration: none;
  color: #111;
  box-shadow: 15px 15px 30px #0f2dd9, -15px -15px 30px #051ec0;
  transition: 0.3s;
}

.single-item > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.single-item h1 {
  text-align: center;
}
.single-item {
  margin: auto;
  padding: 20px;
  text-decoration: none;
  color: #716c6b;
  font-size: 18px;
  width: 450px;
  height: 700px;
  border-radius: 30px;
  background: white;
  box-shadow: 15px 15px 30px #0e0e10f8, -15px -15px 30px #0e0e10f8;
}

.single-item > img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.contact {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: larger;
  text-decoration: none;
  height: 80vh;
  background: rgb(159, 160, 173);
  background: linear-gradient(
    0deg,
    rgba(159, 160, 173, 1) 9%,
    rgba(29, 28, 28, 1) 100%,
    rgba(135, 132, 168, 1) 100%
  );
  text-decoration: none;
}
.contact a:link {
  color: white;
}
.contact a:hover {
  color: hotpink;
}
.contact > img {
  margin-top: 50px;
  width: 400px;
  height: 400px;
}
.update-forms form {
  position: absolute;
  left: 1000px;
  top: 20rem;
  border: 1px solid gray;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3rem 0;
  padding: 36px;
  text-decoration: none;
  color: #ffffff;
  width: 300px;
  height: 450px;
  border-radius: 92px;
  background: #393d45f8;
  box-shadow: 15px 15px 30px #410dba, -15px -15px 30px #410dba;
}
.update-forms input {
  width: 200px;
  height: 25px;
  font-size: 18px;
  border: solid;
  border-color: rgb(11, 11, 11);
}
.update-form button {
  margin: 10px;
  width: 200px;
  height: 40px;
  font-size: 18px;
  border-color: #716c6b;
  border-radius: 10px;
}
.update-btn {
  margin: 20px;
  background-color: rgb(190, 17, 17);
  color: aliceblue;
  width: 200px;
  height: 50px;
  font-size: 20px;
  border-color: #716c6b;
  border-radius: 5px;
}
.update-btn:hover {
  background-color: black;
}


.adding {
  color: white;
  background: rgb(159, 160, 173);
  background: linear-gradient(
    0deg,
    rgba(159, 160, 173, 1) 9%,
    rgba(29, 28, 28, 1) 100%,
    rgba(135, 132, 168, 1) 100%
  );
  height: 55vh;
  padding: 200px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.adding h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 4rem;
 color: white;

}
.add-item {
  padding: 50px 0 0 140px;
  align-items: baseline;
  width: 500px;
  height: 290px;
  /* display: flex;
  flex-direction: column; */
  font-size: 20px;
}
.add-form input {
  float: right;
  height: 18px;
  border: solid rgba(128, 128, 128, 0.576);
  border-radius: 5px;
}

.add-item label {
  margin: 2rem;
}
.all-form{
  text-align: center;
  border: solid;
  border-color: aliceblue;
  border-radius: 25px;
}
/* .image-upload{
  font-size: 20px;
} */
